.form-section {
  height: 80vh;
  @include flex(center, center, row);
  color: $gray-text;
  form {
    max-width: 715px;
    max-height: 75vh;
    p {
      margin-top: 1rem;
      font-size: 2.3rem;
      align-self: flex-start;
    }
    h1 {
      margin-bottom: 0.5rem;
    }
    background-color: $menu-color;
    padding: 2rem 8rem;
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
    0px 20px 40px rgba($color: #000000, $alpha: 0.2);
    @include flex(center, center, column);
    border-radius: 2rem;
    label {
      align-self: flex-start;
    }
    input, 
    textarea {
      padding: 1rem;
      margin: 2rem;
      width: 100%;
      background-color: #222222;
      color: $gray-text;
      border: none;
      &:focus {
        outline: 2px solid rgb(76, 174, 231);;
      }
    }
    textarea {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      height: 15rem;
      resize: none;
    }
    button {
      width: 100%;
      padding: 2rem;
      background: $button-color;
      border-radius: 0.5rem;
      color: white;
      cursor: pointer;
      border: none  ;
      transition: background-color 1s;
      &:hover {
        background: rgb(0, 126, 199);
        font-weight: bold;

      }
      &:focus {
        background: rgb(92, 137, 163);
        font-weight: bold;
        outline: 2px solid black;
      }
    }
  }
}
