.form-section.login form {  
  height: 100%;
  max-height: 60vh;
  max-width: 700;
  input {
    padding: 1.5rem;
  }
  padding-bottom: 1.5rem;
  h1 {
    font-size: 3rem;
  }
}

.notification.error {
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 2rem 0rem 3rem 0rem;
  p {
    margin: auto;
  }
}

/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  span {
    color: white;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $menu-color;
  left: 0px;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: pointer;
  &:hover {
    filter: brightness(5);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
